.history.*
.zcompdump

# Ignore everything in root
/*
# Allow following files and directories
!.zshenv
!.gitconfig
!.gitignore
!.tmux.conf
!.vimrc
!/.zsh/
!/.vim/

.zsh/91_secret_environment.zsh
.vim/.netrwhist
.tmuxinator/
